.placar, #erro,#spinner{
	display: none;
}

#erro{
    color: red;
}

#frase-id{
	width: 35px;
}

#btn-salvar{
	float: right;
}

.select-usuarios, #usuarios{
	display: inline-block;

}

.selectize-input{
	vertical-align: middle;
	width: 180px;
}
